<% if flash[:notice] %>
  <div style="color: red">
  	<% flash[:notice].each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </div>
<% end %>
<%= form_for @cate, :url=>{:action => "add_cate_submit"} do |c| %>
	<%= c.label 'name' %>
	<%= c.text_field :name %>
	<%= c.submit 'add' %>
<% end %>
<br />
<%= link_to "back", :action=>"show_cate" %>
